<div class='recipe-head'>
    <h1><%= @recipe.title %></h1>
    <p>Category: <%= @recipe.category %></p>
    <p><%= @recipe.description %></p>
</div>
<div class='recipe-info'>
    <p><strong>Prep:</strong> <%= @recipe.prep_time %> mins</p>
    <p><strong>Cook:</strong> <%= @recipe.cook_time %> mins</p>
    <p><strong>Total:</strong> <%= @recipe.total_time %> mins</p>
    <p><strong>Servings:</strong> <%= @recipe.servings %> mins</p>
</div>

<div class='recipe-instructions'>
    <h2>Ingredients</h2>
    <p><%= @recipe.ingredients %></p>

    <h2>Directions</h2>
    <p><%= @recipe.directions %></p>
</div>

<% if @recipe.used_id == session[user_id] %>
<button type='submit' formmethod='get' formaction="/recipes/<%= @recipe.id %>/edit">Edit</button>
<button type='submit' formmethod='delete' formaction="/recipes/<%= @recipe.id %>">Delete</button>
<% end %>