<div class='recipe-head'>
    <h1><%= @recipe.title %></h1>
    <p><strong>Category: </strong><%= @recipe.category %></p>
    <p><%= @recipe.description %></p>
</div>
<div class='recipe-info'>
    <p><strong>Prep:</strong> <%= @recipe.prep_time %> mins</p>
    <p><strong>Cook:</strong> <%= @recipe.cook_time %> mins</p>
    <p><strong>Total:</strong> <%= @recipe.prep_time + @recipe.cook_time %> mins</p>
    <p><strong>Servings:</strong> <%= @recipe.servings %> mins</p>
</div>

<div class='recipe-instructions'>
    <h2>Ingredients</h2>
    <p><%= @recipe.ingredients %></p>

    <h2>Directions</h2>
    <p><%= @recipe.directions %></p>
</div>

<% if @recipe.user_id == session[:user_id] %>
<form action="/recipes/<%= @recipe.id %>/edit" method="get">
  <input type="hidden" name="_method" value="get">
  <input type="submit" value="Edit">
</form>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<% end %>