<h1>Hello, <%= @user.first_name %>!</h1>
<h2>Your Recipes</h2>
<p>You have <%= @user.recipes.size %> 
<% if @user.recipes.size == 1 %>
recipe.
<% else %> 
recipes.
<% end %></p>
<br>
<% @user.recipes.each do |recipe| %>
    <h3><%= recipe.title %></h3>
    <p><%= recipe.description %></p>
    <p><a href="/recipes/<%= recipe.id %>">View Recipe</a></p>
    <br>
<% end %>